@import "./var.scss";

body,
html {
  line-height: 1;
  font-family: "PingFang SC", "STHeitiSC-Light", "Helvetica-Light", arial,
    sans-serif, "Droid Sans Fallback";
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

input,
textarea {
  outline: none;
  border-style: none;
  -webkit-appearance: none;
}

// 文字超出。。。
.ellipsis_1,
.ellipsis_2,
.ellipsis_3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.ellipsis_2 {
  -webkit-line-clamp: 2;
}

.ellipsis_3 {
  -webkit-line-clamp: 3;
}

// 清除浮动
.clear {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// border-1px
.border_top_1px,
.border_right_1px,
.border_bottom_1px,
.border_left_1px {
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: 0 0;
  }
}

.border_top_1px {
  &::before {
    border-top: 1px solid $color_row_line;
    left: 0;
    top: 0;
    width: 100%;
    transform-origin: 0 top;
  }
}

.border_right_1px {
  &::after {
    border-right: 1px solid $color_col_line;
    top: 0;
    right: 0;
    height: 100%;
    transform-origin: right 0;
  }
}

.border_bottom_1px {
  &::after {
    border-bottom: 1px solid $color_row_line;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-origin: 0 bottom;
  }
}

.border_left_1px {
  &::before {
    border-left: 1px solid $color_col_line;
    top: 0;
    left: 0;
    height: 100%;
    transform-origin: left 0;
  }
}

@media (min-resolution: 2dppx) {
  .border_top_1px {
    &::before {
      width: 200%;
      transform: scale(0.5);
    }
  }

  .border_right_1px {
    &::after {
      height: 200%;
      transform: scale(0.5);
    }
  }

  .border_bottom_1px {
    &::after {
      width: 200%;
      transform: scale(0.5);
    }
  }

  .border_left_1px {
    &::before {
      height: 200%;
      transform: scale(0.5);
    }
  }
}

@media (min-resolution: 3dppx) {
  .border_top_1px {
    &::before {
      width: 300%;
      transform: scale(0.333);
    }
  }

  .border_right_1px {
    &::after {
      height: 300%;
      transform: scale(0.333);
    }
  }

  .border_bottom_1px {
    &::after {
      width: 300%;
      transform: scale(0.333);
    }
  }

  .border_left_1px {
    &::before {
      height: 300%;
      transform: scale(0.333);
    }
  }
}